a {
  color: #333235; /* This is the hexadecimal code for cherry pink */
  text-decoration: none; /* This removes the underline from the link */
}
a:hover {
  color: #060607; /* This is the hexadecimal code for hot pink */
  text-decoration: underline; /* This adds an underline when you hover over the link */
}
 body {
   background-color: #FFB7C5; /* This is the hexadecimal code for cherry pink */
}
.sidebar {
  width: 72px; /* Adjust the width of the sidebar */
  height: 100%; /* Make the sidebar span the height of the page */
  position: fixed; /* Fix the sidebar to the left side of the page */
  background-color: #FFB7C5; /* Set the background color of the sidebar */
  overflow-x: hidden; /* Hide the horizontal scrollbar */
  padding: 5px; /* Add some padding to the sidebar */
}

.sidebar a {
  display: block; /* Make the links in the sidebar block elements */
  color: white; /* Set the color of the links to white */
  text-decoration: none; /* Remove the underline from the links */
  margin-bottom: 10px; /* Add some space between the links */
}

.sidebar a:hover {
  color: #FF69B4; /* Change the color of the links on hover */
 }


