a {
  color: #333235; /* This is the hexadecimal code for cherry pink */
  text-decoration: none; /* This removes the underline from the link */
}
a:hover {
  color: #060607; /* This is the hexadecimal code for hot pink */
  text-decoration: underline; /* This adds an underline when you hover over the link */
}
 body {
   background-color: #FFB7C5; /* This is the hexadecimal code for cherry pink */
}
